<!-- countries/templates/countries/countries_homepage.html -->
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Countries</title>
</head>

<body>
    {% extends 'core/base.html' %}
    {% block content %}
    <form action="{% url 'countries:country_list' %}" method="get">
        <input type="text" id="search" name="query" value="{{query}}" placeholder="Find a destination">
        <button id="travel" value="submit">Travel</button>
    </form>

    {% for continent in continents %}
        <h1>{{continent}}</h1>
        {% for country in countries %}
            {% if country.continent == continent %}
                <a href="{% url 'countries:country_redirect' country.id %}">
                    <div class="country">
                        <h3>{{country}}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    {% empty %}
        <h3>No countries match your search</h3>
    {% endfor %}
    {% endblock content %}
</body>
</html>