{% extends 'core/base.html' %}

{% block content %}
<h1 id="recipe_title">{{recipe.name}}</h1>

{% if user.is_authenticated %}
    <form action="{% url 'recipes:recipe_save' recipe.id %}" method="post">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="recipe_save" value="{{recipe.id }}">Recipe Saved</button>
        {% else %}
            <button type="submit" name="recipe_save" value="{{recipe.id }}">Save Recipe</button>
        {% endif %}
    </form>
    <form action="{% url 'recipes:recipe_made' recipe.id %}" method="post">
        {% csrf_token %}
        {% if made %}
            <button type="submit" name="recipe_made">Remove From Made Recipes</button>
        {% else %}
            <button type="submit" name="recipe_made">I Made It!</button>
        {% endif %}
    </form>
    {% for recipe in saved_recipes %}
        <h3>{{recipe.name}}</h3>
    {% endfor %}
{% else %}
    <h3 class="login_required">Login To Save Recipe</h3>
{% endif %}
{% endblock content %}