<!-- core/templates/core/base.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} | World Food</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/stylesheet.css' %}" />
</head>

<body>
    <!--Add a nav bar-->
    {% block navbar %}
    <div class="topnav" id="myTopnav">
        <div class="leftnav">
            <a href="{% url 'core:home' %}" class="active" id="home">Home</a>
            <!--Come up with a logo and make clicking on the logo work-->
            <a href="{% url 'countries:country_list' %}">Explore</a> <!--Add a map of the world at the beginning-->
        </div>
        <div class="rightnav">
            {% if user.is_authenticated %}

            <a href="{% url 'core:logout' %}">Logout</a>
            <a href="{% url 'notifications:notifications' %}" id="notifications"><span
                    class="material-symbols-outlined">
                    notifications
                </span><span id="num_notifications"></span></a>
            <a href="{% url 'dashboard:dashboard' %}" id="dashboard">Dashboard</a>
            <!--Add the possibility of doing a modal showing the badges that have been awarded-->
            {% for badge in badges_to_display %}
            <dialog class="modal-badge">
                <form method="post" action="{% url 'badges:badge_displayed' badge.id %}">
                    <!--Need to be able to update the awarded badges, and also get back to the recipe that triggered it-->
                    {% csrf_token %}
                    <button class="close"><span class="material-symbols-outlined">
                            close
                        </span></button>
                </form>
                <h1>Congratulations!</br>You earned a new badge.</h1>
                <img src="{{badge.badge.awarded_badge.url}}" alt="{{badge.badge.name}}">
                <h1><u>{{badge.badge.badge_name}}</u></h1>
            </dialog>
            {% endfor %}
            {% else %}
            <a href="{% url 'core:login' %}" id="login">Login</a>
            {% endif %}
            <a href="javascript:void(0)" class="icon" onclick="toggleNavbar()"><span class="material-symbols-outlined">
                    menu
                </span></a>
        </div>
    </div>
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
    <script>
        function toggleNavbar() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        let fetchRes;

        const getNotifications = () => {
            let fetchRes = fetch("/notifications/api");
            fetchRes.then(res => res.json()).then(d => {
                num_notifications = document.getElementById('num_notifications');
                console.log(d.length);
                if (d.length >= 9) {
                    num_notifications.innerHTML = '9+';
                } else {
                    num_notifications.innerHTML = d.length;
                }
            })
        };

        getNotifications();
        setInterval(getNotifications, 300000); // set to refresh every 5 minutes

        // Get the badges to display. Show them one at a time, and give the option to close out of them
        const closeModal = document.querySelector('.close');
        const modal = document.querySelector('.modal-badge');

        modal.showModal(); // on load open the first modal. With django updating the model every time, only the first needs to be found
        closeModal.addEventListener('click', () => {
            modal.close();
        })
    </script>
</body>

</html>