<!-- core/templates/core/base.html -->
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} | World Food</title>
    <style>
        .unread {
            color:red;
        }
        .read {
            color:blue;
        }
    </style>
</head>

<body>
    <!--Add a nav bar-->
    {% block navbar %}
    {% if user.is_authenticated %}
        <!--Add logout button-->
        <a href="{% url 'core:logout' %}">Logout</a>
        <a href="{% url 'notifications:notifications' %}" id="notifications"><span id="num_notifications"></span></a>
        <script>
            let fetchRes;

            const getNotifications = () => {
                let fetchRes = fetch("/notifications/api");
                fetchRes.then(res => res.json()).then(d => {
                num_notifications = document.getElementById('num_notifications');
                console.log(d.length);
                if (d.length >= 9){
                    num_notifications.innerHTML = '9+';
                } else {
                    num_notifications.innerHTML = d.length;
                }
            })
            };

            getNotifications();
            setInterval(getNotifications, 300000); // set to refresh every 5 minutes
        </script>
        <a href="{% url 'dashboard:dashboard' %}" id="dashboard">Dashboard</a>
    {% else %}
        <a href="{% url 'core:login' %}" id="login">Login</a>
    {% endif %}
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
</body>
</html>