<!-- core/templates/core/base.html -->
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} | World Food</title>
    <style>
        .unread {
            color:red;
        }
        .read {
            color:blue;
        }
    </style>
</head>

<body>
    <!--Add a nav bar-->
    {% block navbar %}
    {% if user.is_authenticated %}
        <!--Add logout button-->
        <a href="{% url 'notifications:notifications' %}" id="notifications"><span id="num_notifications">{{num_notifications}}</span></a>
        <a href="{% url 'dashboard:dashboard' %}" id="dashboard">Dashboard</a>
    {% else %}
        <a href="{% url 'core:login' %}" id="login">Login</a>
    {% endif %}
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
</body>
</html>